:root {
  --sidenav-width: 4rem;

  font-size: 20px;
  /*interpolate-size: allow-keywords;*/

}

* {
  font-size: 1rem;
}

body {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: stretch;
}

button {
  border: none;
}

nav#side-nav {
  min-width: var(--sidenav-width);
  position: relative;
  background-color: azure;
}

nav#side-nav ul {
  position: fixed;
  top: 0;
  left: 0;
  margin: 0;
  padding: 0;
  min-height: 100vh;
  width: var(--sidenav-width);
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  gap: 1rem;
  transition: width 400ms;
  background-color: inherit;
}

nav#side-nav ul li {
  list-style: none;
  height: 4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  background-color: antiquewhite;
}

main {
  flex: 1;
}

#page-header nav {
  display: flex;
  align-items: stretch;
  justify-content: flex-end;
  gap: 3rem;
}

#page-header nav button {
  font-size: 1.25rem;
  padding: 1.5rem;
}

.buttons {
  flex: 1;
  display: flex;
  align-items: stretch;
  justify-content: stretch;
}

.buttons * {
  flex: 1;
  width: min-content;
}

.search {
  flex: 1;
  display: flex;
  align-items: center;
  gap: 0.75rem;
}

.search input {
  border-radius: 10px;
  border: 1px solid black;
  height: 1.75rem;
  padding-left: 0.6rem;
  font-size: 1.2rem;
}

.account {
  display: flex;
  align-items: center;
  gap: 1rem;
  padding-right: 2rem;
}

#hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 22rem;
}

#hero h1 {
  font-size: 1.75rem;
  margin: 0;
  margin-bottom: 1.4rem;
}

#hero p {
  margin: 0;
  margin-bottom: 2rem;
}

#hero p, #hero em {
  font-size: 1.2rem;
}

#hero .button-group {
  display: flex;
  gap: 1rem;
  justify-self: end;
  margin-top: 3rem;
}

.check-menu {
  font-size: 1.2rem;
  padding: 0.5rem;
  border-radius: 7px;
}

.content {
  padding: 2rem;
}

details {
  border: 1px solid black;
}

details *:not(summary) {
  margin: 0;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: 1rem;
}

details::details-content {
  interpolate-size: allow-keywords; /*### NOTE: this property isn't supported on Safari and Firefox.*/
  transition: block-size 600ms, content-visibility 600ms;
  transition-behavior: allow-discrete;
  block-size: 0;
  overflow: hidden;
}

details[open]::details-content {
  block-size: auto;
}

summary::marker {
  content: "";
}